{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [
        "lodash",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
