@import "../../../../styles/colors";

.has-error {
  & > div {
    border-color: $burnt-sienna;

    &:hover {
      border-color: $burnt-sienna;
    }
  }
}

p.help-text {
  text-align: start;
  font-size: 1.6rem;
  color: $burnt-sienna;
  margin-top: 0.5rem;
}
