$font-family: "Roboto", sans-serif;

h1 {
  font-family: $font-family;
  font-size: 4.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $burnt-sienna;
}

h2 {
  font-family: $font-family;
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $burnt-sienna;
}

h3 {
  font-family: $font-family;
  font-size: 2.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.02rem;
  color: $burnt-sienna;
}

p {
  font-family: $font-family;
  font-size: 20px; //px fallback
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $shadow-green;
}

a {
  font-family: $font-family;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: $shadow-green;
}

body {
  font-family: $font-family;
  font-size: 20px; //px fallback
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: $athens-gray;
}
